<footer class="site-footer">
  <div class="footer-inner">
    {{ if .Site.Social }}
      <div class="footer-social">
        {{ partial "social.html" . }}
      </div>
    {{ end }}
    <div class="footer-meta">
      <p class="copyright">
        {{ with .Site.Params.copyright }}
          {{ . | markdownify }}
        {{ else }}
          © {{ now.Format "2006" }} {{ .Site.Params.Author }}
        {{ end }}
      </p>
      {{ if ne .Site.Params.showPowerBy false }}
        <p class="powered">{{ i18n "poweredBy" | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
  {{ range .Site.Params.customJS }}
    {{ if or (hasPrefix . "http://") (hasPrefix . "https://") }}
      <script src="{{ . }}"></script>
    {{ else }}
      <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
  {{ end }}
</footer>
