<!-- <section class="hero">
  <div class="hero-inner">
    <div class="hero-avatar">
      {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="{{ .Site.Params.Author }}" src="{{ "/images/avatar.png" | relURL }}" />
        </a>
      {{ else }}
        <img class="avatar" alt="{{ .Site.Params.Author }}" src="{{ "/images/avatar.png" | relURL }}" />
      {{ end }}
    </div>
    <div class="hero-copy">
      <p class="label">Hey, I'm</p>
      <h1>{{ .Site.Params.Author }}</h1>
      {{ with .Site.Params.Bio }}
        <p class="intro">{{ . | markdownify }}</p>
      {{ end }}
    </div>
  </div>
</section> -->
